<p>pagina-principal works!</p>
<div class="container mt-2">
    <h4>Clientes</h4>
    <div class="row">
        <div class="col-md-4"> 
            <app-listar-clientes></app-listar-clientes>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <app-crear-clientes></app-crear-clientes>
        </div>
    </div>
    
    <h4>Cunetas</h4>
    <div class="row">
        <div class="col-md-4"> 
            <app-listar-cuentas></app-listar-cuentas>
        </div>
        <div class="col-md-8">
            <app-crear-cuentas></app-crear-cuentas>
        </div>
    </div>
</div>


